.wd-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 32px 0 32px 32px;
}

.icon-container {
  background-color: lightsalmon;
}

.icon-container > img {
  width: 92px;
  height: 92px;
  margin-left: 64px;
}

.details-container {
  background-color: lightgreen;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.details-container > p {
  font-size: 64px;
  font-weight: bold;
}